<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>Add New Entry</nav><br><br>
    <a href="{% url 'index' %}">Home</a><br><br><br>
    <div class="container">
        <form action="{% url 'add' %}" method="POST">
            {% csrf_token %}
            {{ form.text }}
            <br><br>
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>